
html, body {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
.dark{
    background-color: #101010;
}

.light{
    background-color: whitesmoke;
}

#main {
    position: relative;
    min-width: 60vw;
    max-width: 65vw;
    margin-left: 16vw;
    border-radius: 15px;
    padding-top: 2vw;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: max-content;
    gap: 2vw; 
    transition-duration: 1s;
}

.center{
    margin-top: 20vw;
    transition-duration: 1s;
}

.top{
    margin-top: 5vw;
    transition-duration: 1s;
}

.searchbox {
    position: absolute;
    top: 4vw;
    width: 20%;
    height: 3vw;
    background-color: white;
    border-radius: 1vw;
    border: none;
    color: #353536;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 0.6em;
    transition-duration: 2s;
}

.searchbox:hover,
.searchbox:focus {
    outline: none;
    background-color: #0b0000;
    color: white;
}

.searchbox::placeholder{
    opacity: 0.4;
    transition-duration: 1s;
    color: #353536;
}
.searchbox:hover::placeholder
,.searchbox:focus::placeholder {
    color: white;
    scale: 1.25;
    opacity: 0.1;
    transition-duration: 1s;
}


.poster {
    position: relative;
    display: block;
    border-radius: 1vw;
    height: 25vw;
    width: 12.5vw;
    transition-duration: 1s;
}

.poster:hover{
    opacity: 0.3;
    transition-duration: 800ms;
    scale: 1.25;
    margin: 2vw 2vw 2vw 2vw;

}

.poster:active{
    scale: 0.8;
}
#identificator{
    visibility: hidden;
}
.title{
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-weight: 1000;
    font-size: 60px;
}
#containerlist{
    position: relative;
    top: 9vw;
}
.toggleon{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 20px;
    background-color: black;
    top: 0.2vw;
    left: 0.2vw;
    transition-duration: 1s;
    border: none;
}
.toggleoff{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 20px;
    background-color: white;
    top: 0.2vw;
    left: 2.2vw;
    transition-duration: 1s;
    border: none;

}
.stateon{
    position: absolute;
    border-radius: 1vw;
    background-color: white;
    width: 4vw;
    height: 2vw;
    top: 2vw;
    left: 2vw;
    transition-duration: 1s;
}
.stateoff{
    position: absolute;
    border-radius: 15px;
    background-color: black;
    width: 4vw;
    height: 2vw;
    top: 2vw;
    left: 2vw;
    transition-duration: 1s;
}


.LoadingOverlay{
    background-color: #0b0000;
    border-radius: 1vw;
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
}

.Loading {
    display: inline-block;
    width: 3vw;
    height: 3vw ;
    border: 0.4vw solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 2s ease-in-out infinite;
    position: absolute;
    top: 10vw;
    left: 4.5vw;
    z-index: 10;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.Tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }